/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.vscode/
.idea/

.env
.env_initial

Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache


# System files
.DS_Store
Thumbs.db

# Docker-specific ignores
docker-compose.override.yml

bootstrap/cache/
storage/framework/cache/


storage/app/*
!/storage/app/public
/storage/framework/sessions
/storage/framework/views
/storage/framework/cache

!storage/app/framework/
!storage/app/loggs/

/.phpunit.cache
/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
/.fleet
/.nova
/.zed
